In [16]:
import pandas as pd

# load global data and examine
global_data = pd.read_csv('global_data.csv')

print(global_data.head(10))

global_data.info()

global_data.describe()

   year  avg_temp
0  1750      8.72
1  1751      7.98
2  1752      5.78
3  1753      8.39
4  1754      8.47
5  1755      8.36
6  1756      8.85
7  1757      9.02
8  1758      6.74
9  1759      7.99
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 2 columns):
year        266 non-null int64
avg_temp    266 non-null float64
dtypes: float64(1), int64(1)
memory usage: 4.3 KB

              year    avg_temp
count   266.000000  266.000000
mean   1882.500000    8.369474
std      76.931788    0.584747
min    1750.000000    5.780000
25%    1816.250000    8.082500
50%    1882.500000    8.375000
75%    1948.750000    8.707500
max    2015.000000    9.830000

In [17]:
# load budapest data and examine
budapest_data = pd.read_csv('budapest_data.csv')

print(budapest_data.head(10))

budapest_data.info()

budapest_data.describe()

   year      city  country  avg_temp
0  1743  Budapest  Hungary      4.92
1  1744  Budapest  Hungary     11.64
2  1745  Budapest  Hungary      1.79
3  1746  Budapest  Hungary       NaN
4  1747  Budapest  Hungary       NaN
5  1748  Budapest  Hungary       NaN
6  1749  Budapest  Hungary       NaN
7  1750  Budapest  Hungary     10.55
8  1751  Budapest  Hungary     10.89
9  1752  Budapest  Hungary      4.74
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271 entries, 0 to 270
Data columns (total 4 columns):
year        271 non-null int64
city        271 non-null object
country     271 non-null object
avg_temp    267 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.6+ KB

              year    avg_temp
count   271.000000  267.000000
mean   1878.000000    9.730861
std      78.375166    1.010613
min    1743.000000    1.790000
25%    1810.500000    9.270000
50%    1878.000000    9.770000
75%    1945.500000   10.310000
max    2013.000000   12.440000